<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Somos uma comunidade empenhada em criar um ambiente saudável, instigante e divertido onde todos podem aprender a programar.">
  	<meta name="keywords" content="Bootcamp,CodeDojo,Hachathon,Programação,Meetup">
  	<meta name="author" content="Code.Red">
  	<meta name="theme-color" content="#414C5A">


	<link href="{{ '/assets/css/style.css' }}" rel="stylesheet">
</head>
<body>
	{{ content }}
</body>
</html>
